// Default font
@font-face {
  font-family: 'Gothic A1';
  src: url(../assets/fonts/GothicA1-Bold.ttf) format('truetype');
}

// Font sizes
$headerSize: 38px;
$copySize: 14px;
$projectLangCopySize: 12px;