@import "./mixins.scss";

.b-page-section {
  @include e(container) {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
    color: $copyTextColor;
    padding: 15px 0;
  }

  @include e(header) {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 3px;
    color: $white;
  }

  @include e(image) {
    display: grid;
    align-content: flex-end;
  }

  @include e(blurb-text) {
    text-align: left;
  }

  .copy-line-height {
    line-height: 2;
  }
}

.b-contact-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;

  @include e(avatar) {
    height: 42px;
    width: 42px;
  }

  @include e(social) {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: space-around;
    grid-gap: 20px;
  }

  @include e(social-icon) {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 10px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }
}

.b-carousel-logo-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;

  @include e(logo) {
    height: 128px;
    width: 128px;
    margin: 0 12px;

    svg {
      height: inherit;
      width: inherit;
    }
  }
}

// Mobile Portrait
@media screen and (min-device-width: 300px) 
              and (max-device-width: 812px)
              and (orientation: portrait) {
  .b-page-section__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

// Mobile Landscape
// @media screen and (min-device-width: 414px) 
//               and (max-device-width: 736px) 
//               and (-webkit-min-device-pixel-ratio: 3)
//               and (orientation: landscape) {

// }