.b-podcast-roll {
  @include e(item-container) {
    display: grid;
    grid-gap: 35px;
  }

  @include e(item) {
    display: grid;
    grid-template-columns: auto 3fr;
    align-items: center;
    grid-gap: 20px;
  }

  @include e(description) {
    display: grid;
    align-items: center;
    text-align: left;
    grid-gap: 15px;

    h2, p {
      margin: 0;
    }

    h2 {
      color: $white;
    }

    p {
      font-size: $copySize;
    }
  }
}

.b-play-btn {
  @include e(container) {
    display: grid;
    align-items: center;
  }

  @include e(icon) {
    height: 80px;
    width: 80px;
    display: grid;
    place-items: center;
    background: $actionButtonColor;
    border-radius: 50%;
  }

  @include e(button) {
    background-color: transparent;
    border: none;
  }
}