.b-podcast-roll {
  @include e(item) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  .description {
    display: grid;
    align-items: center;
    text-align: left;

    p {
      font-size: $copySize;
    }
  }
}

.b-play-btn {
  @include e(container) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  @include e(icon) {
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    background: $actionButtonColor;
    border-radius: 50%;
  }

  @include e(button) {
    background-color: transparent;
    border: none;
  }
}