@import "./mixins.scss";

.b-project-roll {
  display: grid;
  grid-gap: 10px;

  @include e(project) {
    display: grid;
    background-color: $projectBGColor;
    color: $white;
    grid-gap: 20px;
    padding: 15px;
    border-radius: 5px;
    text-align: left;

    @include m(lang) {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: $projectLangCopySize;
    }

    @include m(name) {
      margin: 0;
    }
  }

  .b-action-btn-container {
    display: grid;
    grid-template-columns: auto 1fr 1fr;

    @include e(action-btn) {
      display: grid;
      cursor: pointer;
      grid-template-columns: 3fr 0.4fr;
      grid-gap: 5px;
      padding: 5px 0px;
    }
  }
}