@import "./mixins.scss";

.b-project-roll {
  display: grid;
  grid-gap: 10px;

  @include e(project) {
    display: grid;
    background-color: $projectBGColor;
    color: $white;
    grid-gap: 20px;
    padding: 15px;
    border-radius: 5px;
    text-align: left;

    @include m(lang) {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: $projectLangCopySize;
    }

    @include m(name) {
      margin: 0;
    }
  }
}