// Theme colors
$white: #fff;
$bodyBGColor: #00032d;
$bodyBGRadialGradient: linear-gradient(to top, #00032d, #0f1550, #321b73, #5c1b93, #8b05af);
$copyTextColor: rgb(199, 199, 199);
$projectBGColor: #616cff52;
$actionButtonColor: #fd1296;