@import "./styles/fonts.scss";
@import "./styles/theme.scss";
@import "./styles/mixins.scss";
@import "./styles/page.scss";
@import "./styles/projectroll.scss";

body {
  background: #151515;
  overflow-x: hidden;
  font-family: 'Gothic A1', sans-serif;
  font-size: $copySize;
}

h1 {
  color: $white;
  font-size: $headerSize;
}

.App {
  background: $bodyBGColor;
  text-align: center;
}

.App-container {
  opacity: 0;
  display: grid;
  grid-gap: 30px;
  padding: 0 32px;
  top: 300px;
  position: relative;
}

.App-header {
  display: grid;
  position: sticky;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: grid;
}

.logo {
  display: block;
  border-radius: 50;
  width: 50px;
  height: 50px;
  background-color:#49f848;
}
